/*
CSS for Hoofdpagina - RESPONSIVE VERSION
Voor: index.html met "Hajo J. Theunissen"
*/

/* ============================================
   BASE STYLES - DESKTOP
   ============================================ */

body {
    text-decoration: none;
    font-family: times, Helvetica, Courier, sans-serif;
    padding-top: 94px;
    line-height: 150%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

h1 {
    font-weight: normal;
    padding-bottom: 2.3em;
    color: black;
    font-size: 70px;
    text-align: center;
}

h2 {
    font-weight: normal;
    padding-bottom: 2.5em;
    padding-left: 40%;
    padding-right: 8%;
    padding-top: 0em;
    color: black;
    font-size: 19px;
}

h3 {
    text-decoration: none;
    font-weight: normal;
    padding-bottom: 0.0em;
    padding-right: 83px;
    color: black;
    font-size: 13px;
    text-align: right;
}

h4 {
    text-decoration: none;
    font-weight: normal;
    padding-bottom: 0em;
    padding-right: 83px;
    color: black;
    font-size: 13px;
    text-align: right;
}

h5 {
    text-decoration: none;
    font-weight: normal;
    padding-bottom: 0em;
    padding-right: 83px;
    color: white;
    font-size: 3px;
}

P {
    font-weight: normal;
    color: black;
    font-size: 21px;
}

.nudged2space {
    position: relative;
    left: .45em;
}

/* ============================================
   TABLET - 481px tot 768px
   ============================================ */

@media (max-width: 768px) {
    body {
        padding-top: 60px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    h1 {
        font-size: 50px;
        padding-bottom: 1.8em;
    }
    
    h2 {
        padding-left: 20%;
        padding-right: 5%;
        font-size: 18px;
    }
    
    h3, h4 {
        padding-right: 30px;
        font-size: 12px;
    }
}

/* ============================================
   MOBIEL - max 480px
   ============================================ */

@media (max-width: 480px) {
    body {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 160%;
    }
    
    h1 {
        font-size: 42px;
        padding-bottom: 1.5em;
        line-height: 1.2;
    }
    
    h2 {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 2em;
        font-size: 17px;
        text-align: left;
        font-style: italic;
    }
    
    h3, h4 {
        padding-right: 0;
        font-size: 16px;
        text-align: left;
        padding-bottom: 0.5em;
    }
    
    h3 a, h4 a {
        display: block;
        padding: 12px 0;
        border-bottom: 1px solid #eee;
    }
    
    P {
        font-size: 18px;
        line-height: 1.6;
    }
}

/* ============================================
   EXTRA KLEINE SCHERMEN - max 360px
   ============================================ */

@media (max-width: 360px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 16px;
    }
}

/* ============================================
   PRINT STYLING
   ============================================ */

@media print {
    body {
        padding: 20px;
    }
    
    h1 {
        font-size: 48px;
        padding-bottom: 1em;
    }
}
