/*
CSS for Publicatie Nederland
*/


body {
	text-decoration:none;
	font-family:times, Helvetica, Courier, sans-serif;
	padding-top:94px;
	line-height: 150%
}

h1 {
	font-weight:normal;
	padding-bottom:2.3em;
	color:black;
	font-size: 70px;
}

h2 {

	font-weight:normal;
	padding-bottom:2.5em;
padding-left:40%;
padding-right:8%;
padding-top :0 em;
	color:black;
	font-size: 19px;


}

h3 {
	text-decoration: none;
	font-weight:normal;
	padding-bottom:0.0em;
	padding-right: 83px;
	color:black;
	font-size: 13px;
}

h4 {
	text-decoration: none;
	font-weight:normal;
	padding-bottom:0em;
	padding-right: 83px;
	color:black;
	font-size: 13px;
}

h5 {
	text-decoration: none;
	font-weight:normal;
	padding-bottom:0em;
	padding-right: 83px;
	color:white;
	font-size: 3px;
}



P { 
	font-weight:normal;
	
	color:black;
	font-size: 21px;
}
.nudged2space {
position: relative;
left: .45em;

}

