/*
CSS for Subtitel pagina's - RESPONSIVE VERSION
Voor: index 3.html met grote h2 titel zoals "Korte Dingetjens"
*/

/* ============================================
   BASE STYLES - DESKTOP
   ============================================ */

body {
    text-decoration: none;
    font-family: times, Helvetica, Courier, sans-serif;
    padding-top: 94px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 150%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-weight: normal;
    padding-bottom: 6.5em;
    color: black;
    font-size: 27px;
}

h2 {
    font-weight: normal;
    padding-bottom: 2.5em;
    color: black;
    font-size: 70px;
}

h3 {
    text-decoration: none;
    font-weight: normal;
    padding-bottom: 0.0em;
    padding-right: 83px;
    color: black;
    font-size: 13px;
}

h4 {
    text-decoration: none;
    font-weight: normal;
    padding-bottom: 6.7em;
    padding-right: 83px;
    color: black;
    font-size: 13px;
}

P {
    font-weight: normal;
    color: black;
    font-size: 21px;
}

.nudged2space {
    position: relative;
    left: .45em;
}

/* ============================================
   TABLET - 481px tot 768px
   ============================================ */

@media (max-width: 768px) {
    body {
        padding-top: 60px;
        padding-left: 35px;
        padding-right: 35px;
    }
    
    h1 {
        font-size: 24px;
        padding-bottom: 4em;
    }
    
    h2 {
        font-size: 52px;
        padding-bottom: 2.0em;
    }
    
    h3, h4 {
        padding-right: 35px;
        font-size: 12px;
    }
    
    h4 {
        padding-bottom: 4em;
    }
    
    P {
        font-size: 19px;
    }
}

/* ============================================
   MOBIEL - max 480px
   ============================================ */

@media (max-width: 480px) {
    body {
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 160%;
    }
    
    h1 {
        font-size: 22px;
        padding-bottom: 2.5em;
    }
    
    h2 {
        font-size: 42px;
        padding-bottom: 1.5em;
        line-height: 1.1;
    }
    
    h3, h4 {
        padding-right: 0;
        font-size: 14px;
        text-align: left;
    }
    
    h3 {
        padding-bottom: 0.5em;
    }
    
    h4 {
        padding-bottom: 2em;
    }
    
    P {
        font-size: 18px;
        line-height: 1.6;
    }
}

/* ============================================
   EXTRA KLEINE SCHERMEN - max 360px
   ============================================ */

@media (max-width: 360px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    h2 {
        font-size: 36px;
    }
    
    P {
        font-size: 17px;
    }
}

/* ============================================
   PRINT STYLING
   ============================================ */

@media print {
    body {
        padding: 20px;
    }
    
    h2 {
        font-size: 48px;
        padding-bottom: 1.5em;
    }
}
